/ the point variable here is a Trailhead object
.trailhead-info-window
  .trailhead-info-window-title #{ @point.name }
  - if @point.default_park
    .trailhead-info-window-park
      %i
        #{ @point.default_park.name }
      - if @point.default_park.county
        \-
        %i #{ @point.default_park.county }
  - if @point.description
    .trailhead-info-window-description
      != truncate_html(@point.description, :limit => 200, :omission => "...")

  - if @feature_names
    %p.trailhead-info-window-features
      %b Features
      \:
      #{ @feature_names }
      - unless @trips.empty?
        %h4 Trips
        %ul
          - @trips.each do |trip|
            %li
              %a{:href => "/trips/#{ trip.id }"}
                #{ trip.name }
  .trailhead-info-window-buttons
    %a.trailhead-info-window-button{:href => "/trailheads/#{ @point.id }"} More Info
    %a.trailhead-info-window-button{:href => "/plan/trailhead/#{ @point.id }"} Plan a Trip Here

  - if current_user && current_user.admin?
    %p
      %b Actions
      %ul
        %li
          %a{:href => "/trips/create/?start_id=#{@point.id}"} Add a trip from here
        %li
          %a{:href => "#{edit_trailhead_path(@point)}"} Edit trailhead
        %li
          = link_to("Delete Trailhead", @point, :method => :delete, :confirm => "Are you sure?")
