= simple_form_for @trip do |f|

  %input#id_route{:name => "trip[route]", :type => "hidden", :value => ""}/
  = f.input :starting_trailhead_id, :as => :hidden
  = f.input :ending_trailhead_id, :as => :hidden

  #trailhead-meta
    -if @trip.errors.any?
      #error_explanation
        %h2= "#{pluralize(@trip.errors.count, "error")} :"
        %ul
          - @trip.errors.full_messages.each do |msg|
            %li= msg

    = f.input :name, :label => "Name your trip"

    %label.text-attr-label Description
    .editor
      %textarea(name="trip[description]" id="trip_description" rows="10" cols="40")
        #{@trip.description}

    .list
      = f.association :duration, :as => :radio_buttons, :include_blank => false

    .list
      = f.association :intensity, :as => :radio_buttons, :include_blank => false

    .list
      %label.control-label Distance
      #distance
        \-

  / map

  #map-container
    #plan-map-instructions
      %label.text-attr-label.address{:for => "id_start_address"}
        Reposition the map by entering an address or location here:
      %input#id_start_address{:name => "id_start_address", :placeholder => "Address or location", :type => "text"}/
      %a#find_address.green-button.right{:href => "#"}
        Go  
      %label#trip-editor-step-instruction.text-attr-label
        Get started by clicking on the trailhead where your trip starts.
    #plan-map.trip-editor-map
    .trip-map-buttons
      %a#out-and-back-button.green-map-button{:href => "javascript:TNT.tripmap.outAndBack();", :name => "out-and-back-button"} And Back
      %a.green-map-button{:href => "javascript:TNT.tripmap.clearWayPoints();"} Clear
      %a.green-map-button{:href => "javascript:TNT.tripmap.eraseFromEnd()"} Undo
      %a#follow-paths-button.green-map-button{:href => "javascript:TNT.tripmap.toggleSnap();", :name => "follow-paths-button"} Unsnap
      %a#follow-paths-button.green-map-button{:href => "javascript:TNT.tripmap.toggleEdit();", :name => "follow-paths-button"} Edit      
  / e: plan
  .attributes
    #trailhead-features
      Attributes available for this trip:
    / = f.association :trailhead_features, :as => :check_boxes
    %ul.outer-list
      - Category.order('rank').each do |category|
        - unless category.trip_features.empty?
          %li
            %label.text-attr-label
              #{ category.name }
            %ul
              - category.trip_features.each_with_index do |attribute,index|
                - if index >= 5
                  - extra_class = "hidden"
                %li(class="#{extra_class}")
                  %label{:for => "trip[trip_features[#{attribute.id}]"}
                    - if @trip.trip_features.include? attribute
                      %input(type="checkbox" name="trip[trip_feature_ids][]"
                        id="trip_trip_feature_ids_#{attribute.id}"
                        value="#{attribute.id}"
                        checked="checked")
                    - else
                      %input(type="checkbox" name="trip[trip_feature_ids][]"
                        id="trip_trip_feature_ids_#{attribute.id}"
                        value="#{attribute.id}")
                    #{ attribute.name }
              - if category.trip_features.count >= 5
                %a.show-more{:href => "#"} + show more..
      - if can? :approve, @trip
        %li
          = f.input :approved
      %li
        %input.green-link-button{:type => "submit", :value => "Save Trip"}
      %li
        %input#cancel-button.dark-gray-link-button{"data-url" => "/", :type => "button", :value => "Cancel"}


:javascript
  trip_route = #{@trip.route || @points || "[]"};

= javascript_include_tag "legacy/tripmap"

:javascript
  $(function () {
      $('#trip_description').ckeditor({height: '130px'});

      editMode = #{  @trip.new_record? ? "TNT.EditMode.NEW;" : "TNT.EditMode.UPDATE;" }

      TNT.tripmap.init(editMode);

      $('a.show-more').toggle(function(e) {
          e.preventDefault();
          $(this).parent().find('li.hidden').show().slideDown();
          $(this).text('- show less');
      },function(e) {
          e.preventDefault();
          $(this).parent().find('li.hidden').hide().slideUp();
          $(this).text('+ show more');
      });

      $('#find_address').click(function(e){
          e.preventDefault();
          TNT.tripmap.findAddress(editMode);
      });

      $('#id_start_address').bind('keypress',function(e){
          var code = (e.keyCode ? e.keyCode : e.which);
          if(code == 13) { //Enter keycode
              //Do something
              e.preventDefault();
              TNT.tripmap.findAddress(editMode);
          }
      });

      $('ul.outer-list ul li:odd').css({backgroundColor: '#F6F7FC'});

      $('#cancel-button').click(function(e){
          e.preventDefault();
          window.location.href = $(this).data('url');
      });

      $('form').submit(function(){
        TNT.tripmap.getWayPointHtml();
        return true;
      })
  });

- if @start_id
  :javascript
    $(function(){
      TNT.tripmap.selectStartOption(#{ @start_id });
    });

- if @center_latitude && @center_longitude
  :javascript
    $(function(){
      TNT.tripmap.setCenterOn(#{@center_latitude},#{@center_longitude});
    });

