.trip-summary
  .attributes
    %ul.tour-time
      %li
        %strong Duration
        %em #{ trip.duration.name }
      %li
        %strong Intensity
        %em #{ trip.intensity.name }
      %li
        %strong Length
        %em#distance #{ trip.length_miles.round(2) } Miles
    / e: tour time
    .to-from
      %p.from
        %strong Start
        - if trip.starting_trailhead
          %a{:href => "/trailheads/#{ trip.starting_trailhead.id }"} #{ trip.starting_trailhead.name }
        - else
          \-
      %p.to
        %strong End
        - if trip.ending_trailhead
          %a{:href => "/trailheads/#{ trip.ending_trailhead.id }"} #{ trip.ending_trailhead.name }
        - else
          \-
