- content_for :head do

  %script(src="/legacy/ckeditor/ckeditor.js")
  %script(src="/legacy/ckeditor/adapters/jquery.js")
  = javascript_include_tag "//maps.googleapis.com/maps/api/js?key=AIzaSyCcUhpQftpOwXVSLJqHrvwYCqnhTy3bchE&sensor=false&libraries=drawing,geometry"

  = javascript_include_tag "legacy/common"
  = stylesheet_link_tag "legacy/legacy"
  = stylesheet_link_tag "legacy/trip"
  = stylesheet_link_tag "editors"

#page
  #page-head
    %h2
      Edit Trip
    %a{:href => "/"} Back to Map
  / e: page head
  #plan.alt.trailhead
    = render "form"
  / e: plan
