- content_for :head do

  = javascript_include_tag "legacy/ckeditor/ckeditor"
  = javascript_include_tag "legacy/ckeditor/adapters/jquery"
  = javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyCcUhpQftpOwXVSLJqHrvwYCqnhTy3bchE&sensor=false&libraries=drawing,geometry"

  = javascript_include_tag "legacy/common"
  = stylesheet_link_tag "legacy/reset"
  = stylesheet_link_tag "legacy/common"
  = stylesheet_link_tag "legacy/style"
  = stylesheet_link_tag "legacy/trip"

#page
  #page-head
    %h2
      New Trip
    %a{:href => "/"} Back to Map
  / e: page head
  #plan.alt.trailhead
    = render "form"
  / e: plan
