- content_for :title do
  Transit & Trails : #{@trip.name}
- content_for :head do
  %script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCcUhpQftpOwXVSLJqHrvwYCqnhTy3bchE&sensor=false&libraries=drawing,geometry")

  = javascript_include_tag "legacy/common"

  = stylesheet_link_tag "legacy/legacy"
  = stylesheet_link_tag "legacy/trailhead_detail"
  = stylesheet_link_tag "legacy/trip"
  = stylesheet_link_tag "trips"

/ begin lightboxed images
- @trip.photos.each_with_index do |photo,i|
  .overlay{:id => "photo#{i}"}
    %div
      %a{:href => "http://flickr.com/photos/transitandtrails/#{photo.flickr_id}", :target => "_blank"}
        %img.thumbnail{:src => "#{photo.flickr_medium_url}"}/
/ end lightboxed images

%script
  trip_route = #{@trip.geometry_as_route};

/ Hidden form fields
%input#id_route{:type => "hidden", :value => ""}/
- if @trip.starting_trailhead
  %input#trip_starting_trailhead_id{:type => "hidden", :value => "#{@trip.starting_trailhead.id}"}/
  %input#starting_point_latitude{:type => "hidden", :value => "#{@trip.starting_trailhead.latitude}"}/
  %input#starting_point_longitude{:type => "hidden", :value => "#{@trip.starting_trailhead.longitude}"}/
- if @trip.ending_trailhead
  %input#trip_ending_trailhead_id{:type => "hidden", :value => "#{@trip.ending_trailhead.id}"}/
  %input#ending_point_latitude{:type => "hidden", :value => "#{@trip.ending_trailhead.latitude}"}/
  %input#ending_point_longitude{:type => "hidden", :value => "#{@trip.ending_trailhead.longitude}"}/

#page.trip-details

  #trail-details.trail-details-overlay
    .description
      != @trip.description

  #details-section
    #plan.alt.trailhead
      #page-head
        %h2 Trip
        %a{:href => "/"} Back to Map
      / e: page head
      #trip-meta
        / begin share widgets
        .trailhead-social-buttons
          .share-widget
            %a.twitter-share-button{"data-count" => "none", "data-url" => "#{trip_path(@trip)}", "data-via" => "transitandtrail", :href => "https://twitter.com/share"} Tweet
            %script{:src => "//platform.twitter.com/widgets.js", :type => "text/javascript"}
          .share-widget
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.transitandtrails.org%trips%2F#{@trip.id}&send=false&layout=button_count&width=450&show_faces=false&action=like&colorscheme=light&font&height=80&appId=173296509398219", :style => "border:none; overflow:hidden; width:52px; height:21px;"}
        / end share widgets
        .header
          %h2 #{@trip.name}
          %img.type-flag{:alt => "", :src => "/assets/legacy/trip.png"}/
          / - if @trip.default_park
          /   %em
          /   %a{:href => "#{park_path(@trip.default_park)}"} #{@trip.default_park.name}
        / b:details
        = render :partial => "/shared/partials/contributor", :locals => {:object=>@trip}
        #trailhead-details
          - if @trip.description
            .description
              != truncate_html(@trip.description, :length=> 300,  :omission => '...<br/><a class="trail-details-modal description-modal" rel="#trail-details" >Read more...</a>')
            / e: entry
          - else
            %div{:style => "height:10px"}

          = render :partial => "/shared/partials/features", :locals => {:object=>@trip}

          = render :partial => "summary", :locals => {:trip=>@trip}

          .button-frame

            %a.green-button.padded-sides{:href => "/plan/trip/#{@trip.id}"}
              Go on this Trip

          - if can?(:edit,@trip)
            .button-frame
              %a.green-button{:href => "#{edit_trip_path(@trip)}"} Edit Trip

          - if can?(:destroy,@trip)
            .button-frame
              = link_to("Delete Trip", @trip, :method => :delete, :confirm => "Are you sure?", :class=>"green-button")

          = render :partial => "/shared/partials/object_maps", :locals => {:object=>@trip}

        = render :partial => "/shared/partials/agency", :locals => {:object=>@trip}

        - regional_trails = @trip.trip_features.where(:category_id=>Category.where(:name=>"Regional Trail"))
        - regional_trails.each do |feature|
          - klass = feature == regional_trails.last ? "agency last" : "agency"
          .if.endif{:class => "#{klass}"}
            .logo
              - if feature.marker_icon
                - if feature.link_url
                  %a{:href => "#{feature.link_url}", :target => "_blank"}
                    %img{:src => "#{feature.marker_icon.url}"}/
                - else
                  %img{:src => "#{feature.marker_icon.url}"}/
            .text
              This trail is part of the
              .name
                - if feature.link_url
                  %a{:href => "#{feature.link_url}", :target => "_blank"}
                    #{ feature.name }
                - else
                  #{feature.name}

      = render :partial => "/shared/partials/non_profit_partner", :locals => {:object=>@trip}

    / e:plan
    = render :partial => "/shared/partials/object_stories", :locals => {:object=>@trip}

  #trailhead-photos-map
    = render :partial => "/shared/partials/object_photos", :locals => {:object=>@trip}
    .section-head
      %h2 Map
    #plan-map.trailhead-details-map
    #trailhead-comments
      .section-head
        %h2 Comments
      / e: page head
      .comments
        = render :partial => "/shared/partials/disqus"
    / e: comments
  .clearfix  

%script{:src => "/assets/legacy/galleria/galleria-1.2.7.min.js"}
%script{:src => "/assets/legacy/jquery/js/jquery.tools.min.js", :type => "text/javascript"}

%script{:src => "/assets/legacy/tripmap.js", :type => "text/javascript"}

:javascript
  $(document).ready(function(){
      $(".scrollable").scrollable({circular:false});
      $(".photo img[rel]").overlay();

      if ($('#galleria').get(0)) {
          Galleria.loadTheme('/assets/legacy/galleria/galleria.classic.min.js');
          // Initialize Galleria
          Galleria.configure({thumbnails:false, imageMargin:0, imageCrop:true});
          Galleria.run('#galleria');

          Galleria.ready(function(){

          });
      }

      TNT.tripmap.init(TNT.EditMode.READONLY);

      $("a.description-modal").overlay();
      $('thumbnail a[rel]').overlay();

      $(window).unload(function () {
          GUnload();
      });

      $('input:radio[name=map-select]').click(function () {
          if ($('input:radio[name=map-select]:checked').val() == "url") {
              $('#map-save-button').attr('value', "Save");
              $('#map_url').show();
              $('#map').hide();
          } else if ($('input:radio[name=map-select]:checked').val() == "file") {
              $('#map-save-button').attr('value', "Upload");
              $('#map_url').hide();
              $('#map').show();
          }
      });

      function resizeOverlay() {
          var overlayHeight = $('.trail-details-overlay').height();
          var windowHeight = 0.5 * $(window).height();
          if (overlayHeight > windowHeight) {
              $('.trail-details-overlay').height(windowHeight);
          }
          else if (windowHeight > originalOverlayHeight) {
              $('.trail-details-overlay').height(originalOverlayHeight);
          }
      }
  });

