%h2.page-header Resend Confirmation Instructions
.content
  = simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
    = devise_error_messages!
    = f.input :email
    = f.button :submit, :value => "Resend"

  = render "devise/shared/links"
