%h2.page-header
  Account
.content
  = simple_form_for resource, :url => registration_path(resource_name) do |f|

    = f.input :email, :input_html => {:autofocus => true}
    = f.input :password, :required => false, :input_html => {:autocomplete => "off"}, :hint => "(Leave blank if you don't want to change it)"
    = f.input :password_confirmation, :required => false
    = f.input :current_password, :hint => "(Required to change password)"
    = f.button :submit, :class=> "btn btn-success", :value => "Save", :button_html => { :disable_with => "Wait" }

- unless @user.identities.empty?
  %h2.page-header
    Identities

  .content
    %ul
    - @user.identities.each do |id|
      %li
        = link_to "Disconnect #{id.provider.capitalize}", id, :method => :delete
