/ Trailblazer Organization
- if object.user
  - if !object.user.user_profile.organization_name.blank?
    #organization
      .cell
        .content
          - if !object.user.user_profile.external_url.blank?
            = link_to object.user.user_profile.external_url, :target => :blank do
              - if object.user.user_profile.organization_avatar.url(:thumbnail)
                %img.img-polaroid#organization-image{:src => "#{object.user.user_profile.organization_avatar.url(:thumbnail)}"}
              #{object.user.user_profile.organization_name}
          - else
            - if object.user.user_profile.organization_avatar.url(:thumbnail)
              %img.img-polaroid#organization-image{:src => "#{object.user.user_profile.organization_avatar.url(:thumbnail)}"}
            #{object.user.user_profile.organization_name}
  - else
    #organization
      .cell
        .content
          - if !object.user.user_profile.external_url.blank?
            = link_to object.user.user_profile.external_url, :target => :blank do
              - if object.user.user_profile.avatar.url(:thumbnail)
                %img.img-polaroid#organization-image{:src => "#{object.user.user_profile.avatar_url(:thumbnail)}"}
              #{object.user.username}
          - else
            - if object.user.user_profile.avatar.url(:thumbnail)
              %img.img-polaroid#organization-image{:src => "#{object.user.user_profile.avatar_url(:thumbnail)}"}
            #{object.user.username}
  / end Trailblazer Organization
