-content_for :head do
  = stylesheet_link_tag "application"
  = stylesheet_link_tag "legacy/trip"
  = stylesheet_link_tag "embed/trips"
  = javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyCcUhpQftpOwXVSLJqHrvwYCqnhTy3bchE&sensor=false&libraries=drawing,geometry"
- content_for :page_title do
  Trip Editor : #{truncate(@trip.name,:length=>40)}

- content_for :page_content do
  #page
    #plan.alt.trailhead
      = simple_form_for @trip, :url => embed_trip_path(@trip) do |f|
        = render "trip_form_map"

        = render :partial => "trip_form_fields", :locals => {:f=>f}
        / fields
        / map
        / atributes
    / e: plan
  / e: page
  = render "trip_form_scripts"
