- content_for :page_title do
  Login

- content_for :page_content do
  = simple_form_for "user", :url => user_session_path do |f|
    .entry.static
      #django-form
        = f.input :username
        = f.input :password
      %div{:style => "width:490px;margin:0 auto;padding-bottom:20px"}
        %ul
          %li
            %a{:href => "/embed/signup"} Click here to become a Trail Blazer
          %li
            %a{:href => "#{new_password_path(:user)}", :target => "_blank"} Forgot your password?
          - unless cookies[:safari_cookie]
            %li
              = link_to "Using Safari? Click here first!", "/safari_cookie_set", :method => :post
    .entry.bottom
      #django-submit
        %input.green-submit-button{:type => "submit", :value => "Submit"}
          %a#django-cancel-link{:href => "/"} Cancel


