%h1 Partners
.partners
  - @partners.each do |p|
    .partner
      - unless p.logo.url.blank?
        .logo
          %a(href="#{p.link}")
            = image_tag p.logo
      .details
        .name
          %a(href="#{p.link}")
            = p.name
        .description
          = p.description
