%li.media.find-list-item(id="campground_list_item_#{campground.id}")
  .pull-left
    %a(href="#{campground_path(campground)}")
      %img.media-object.img-rounded.img-polaroid(src="#{campground.thumbnail_url}")
    %br
    = link_to "Zoom In", "#", :class => "btn btn-block zoom-button btn-warning btn-round"
    = link_to "Plan", "/plan/campground/#{campground.id}", :class => "btn btn-success btn-block btn-round"
    - if can? :edit, Campground
      = link_to edit_campground_path(campground), :class => "btn btn-primary btn-block  btn-round" do        
        Edit
    - if can? :approve, Campground
      - if campground.approved
        = link_to "Unapprove", unapprove_campground_path(campground), :method => :post, :class => "btn btn-warning btn-block btn-round", :remote =>  true
      - else
        = link_to "Approve", approve_campground_path(campground), :method => :post, :class => "btn btn-primary btn-block btn-round", :remote =>  true

    - if can? :destroy, Campground
      = link_to campground_path(campground), :method => :delete, :class => "btn btn-danger btn-block btn-round", :data => { :confirm => "Are you sure?" } do        
        Delete
  .media-body
    %a(href="#{campground_path(campground)}")
      %h4.media-heading
        = campground.name
    %p.park-name
      = campground.default_park_name
    = render :partial => "object_user_label", :locals => { :object => campground }
    %p.description
      = truncate_html(strip_tags(campground.description),:length=>300)
    .features
      - campground.categorized_attributes.each do |category,features|
        %p
          %span.category
            #{category}
          %br
          - features.each_with_index do |feature,index|
            - if index < 3
              %span.label.label-feature
                = feature.name
            - if index == 3
              = link_to "and more...", campground
%hr
:javascript
  Find.addCampgroundMarker(#{campground.as_json.except('description').to_json});
