#find-list-container
  .list-header
    .list-header-icon
    %span.badge.badge-info
      = trailheads.count
    Trailheads found near San Francisco
  .list-filters
    - filter_names.each do |filter|
      %span.label.label-success
        = filter
  .list#find-list
    %ul.media-list
      - trailheads.each_with_index do |trailhead,index|
        %li.media.find-list-item(id="trailhead_list_item_#{trailhead.id}")
          %a.pull-left(href="#{trailhead_path(trailhead)}")
            %img.media-object(src="http://placehold.it/120x120")
          .media-body
          %a(href="#{trailhead_path(trailhead)}")
            %h4.media-heading
              = trailhead.name
          %p.park-name
            = trailhead.park_name
          %p.description
            = truncate_html(strip_tags(trailhead.description),:length=>300)
          .features
            - trailhead.categorized_attributes.each do |category,features|
              %p
                %span.category
                  #{category}:
                - features.each_with_index do |feature,index|
                  - if index < 4
                    %span.label.label-feature
                      = feature.name
                  - if index == 4
                    = link_to "and more...", trailhead
        %hr
        :javascript
          Find.addTrailheadMarker(#{trailhead.as_json.except('description').to_json});
