%li.media.find-list-item(id="trailhead_list_item_#{trailhead.id}")
  .pull-left
    %a(href="#{trailhead_path(trailhead)}")
      %img.media-object.img-rounded(src="#{trailhead.thumbnail_url}")
      %br
      = link_to "Zoom In", "#", :class => "btn btn-block zoom-button btn-warning btn-round"
      = link_to "Plan", "/plan/trailhead/#{trailhead.id}", :class => "btn btn-success btn-block btn-round"
      - if can? :edit, Trailhead
        = link_to "Edit", edit_trailhead_path(trailhead), :class => "btn btn-primary btn-block btn-round"
        - if can? :approve, Trailhead
          - if trailhead.approved
            = link_to "Unapprove", unapprove_trailhead_path(trailhead), :method => :post, :class => "btn btn-warning btn-block btn-round", :remote =>  true
          - else
            = link_to "Approve", approve_trailhead_path(trailhead), :method => :post, :class => "btn btn-primary btn-block btn-round", :remote =>  true
      - if can? :destroy, Trailhead
        = link_to "Delete Trailhead", trailhead_path(trailhead), :method => :delete, :class => "btn btn-danger btn-block btn-round", :data => { :confirm => "Are you sure?" }
  .media-body
    %a(href="#{trailhead_path(trailhead)}")
      %h4.media-heading.find-list-name
        = trailhead.name
    %p.park-name
      = trailhead.default_park_name
    / = render :partial => "object_user_label", :locals => { :object => trailhead }
    = render :partial => "/shared/partials/agency", :locals => { :object => trailhead }
    %p.description
      = truncate_html(strip_tags(trailhead.description),:length=>300)
    .features
      - trailhead.categorized_attributes.each do |category,features|
        %p
          %span.category
            #{category}
          %br
          - features.each_with_index do |feature,index|
            - if index < 3
              %span.label.label-feature
                = feature.name
            - if index == 3
              = link_to "and more...", trailhead
%hr
:javascript
  Find.addTrailheadMarker(#{trailhead.as_json.except('description').to_json});
