#find-list-container
  .list-top
    .list-header
      .list-header-icon
      %span.badge.badge-inverse
        = trips.count
      Trips found near San Francisco
    %span.list-filters
      %b
        Filters :
      - filter_names.each do |filter|
        %span.label.label-success
          = filter
      - if filter_names.empty?
        %span.label.label-success
          None
  .list#find-list

    %ul.media-list
      - trips.each_with_index do |trip,index|
        %hr
        %li.media.find-list-item(id="trip_list_item_#{trip.id}")
          %a.pull-left(href="#{trip_path(trip)}")
            %img.media-object.img-rounded.img-polaroid(src="#{trip.thumbnail_url}")
          .media-body
            %a(href="#{trip_path(trip)}")
              %h4.media-heading
                = trip.name
            %p.park-name
              = trip.park_name
            = trip.duration.name
            |
            = trip.intensity.name
            |
            = trip.length_miles.round(1)
            Miles
            %p.description
              = truncate_html(strip_tags(trip.description),:length=>300)
            .features
              - trip.categorized_attributes.each do |category,features|
                %p
                  %span.category
                    #{category}
                  %br
                  - features.each_with_index do |feature,index|
                    - if index < 3
                      %span.label.label-feature
                        = feature.name
                    - if index == 3
                      = link_to "and more...", trip

        :javascript
          Find.addTripMarker(#{trip.as_json.except('geometry').except('route').except('description').to_json});
