:javascript
  $('#trip-count').text("#{trips.count}")

#find-list-container.trips
  .list#find-list

    - unless filter_names.empty?
      .list-filters
        %b
          Filters :
        - filter_names.each do |filter|
          %span.label.label-success
            = filter
        - if filter_names.empty?
          %span.label.label-success
            None

    %ul.media-list
      - trips.each_with_index do |trip,index|
        %li.media.find-list-item(id="trip_list_item_#{trip.id}")
          .pull-left
            %a(href="#{trip_path(trip)}")
              %img.media-object.img-rounded.img-polaroid(src="#{trip.thumbnail_url}")
            %br
            = link_to "Zoom In", "#", :class => "btn btn-block zoom-button btn-warning"
            = link_to "Plan My Trip", "/plan/trip/#{trip.id}", :class => "btn btn-success btn-block"
            - if can? :edit, trip
              = link_to "Edit Trip", edit_trip_path(trip), :class => "btn btn-primary btn-block"
            - if can? :destroy, trip
              = link_to "Delete Trip", trip_path(trip), :method => :delete, :class => "btn btn-danger btn-block", :data => { :confirm => "Are you sure?" }
          .media-body
            %a(href="#{trip_path(trip)}")
              %h4.media-heading.find-list-name
                = trip.name
            %p.park-name
              = trip.park_name
            %p
              .div(class="intensity-icon #{trip.intensity.name.downcase}")
              = trip.intensity.name
              |
              = trip.duration.name
              |
              = trip.length_miles.round(1)
              Miles
            %p.description
              = truncate_html(strip_tags(trip.description),:length=>200)
              = link_to "more", trip
            .features
              - trip.categorized_attributes.each do |category,features|
                %p
                  %span.category
                    #{category}
                  %br
                  - features.each_with_index do |feature,index|
                    - if index < 3
                      %span.label.label-feature
                        = feature.name
                    - if index == 3
                      = link_to "and more...", trip
        %hr
        :javascript
          Find.addTripMarker(#{trip.as_json.except('geometry').except('route').except('description').to_json});
          Find.currentNear = "#{near}";
