- content_for :head do
  = stylesheet_link_tag "legacy/reset"
  = stylesheet_link_tag "legacy/common"
  = stylesheet_link_tag "legacy/style"
  = stylesheet_link_tag "legacy/find"

  %script{:src => "https://www.google.com/jsapi?key=AAIzaSyCfyGax1GGtlDGYW3Z1F3FD_7NJt5DzOGo", :type => "text/javascript"}
  :javascript
    google.load("maps", "2.x");
  = javascript_include_tag "legacy/markermanager"
  
.location-form
  %form#show{:action => "", :method => "post"}
    %p
      %label Show
      #object-select
        #object-select-label trips, trailheads, and campgrounds
        #expand-button v
        #object-select-box
          %input#show-trips-checkbox{:checked => "checked", :type => "checkbox"} trips
          %br/
          %input#show-trailheads-checkbox{:checked => "checked", :type => "checkbox"} trailheads
          %br/
          %input#show-campgrounds-checkbox{:checked => "checked", :type => "checkbox"} campgrounds
          %br/
      %label within
      %input#radius.text.ofmiles{:name => "radius", :type => "text", :value => "10"}/
      %label miles of
      %input#address.text.ofplace{:name => "address", :type => "text", :value => "San Francisco, CA"}/
      %input.submit{:type => "submit", :value => "Find"}/
  / e: show
#trails
  #the-trails
    #find-map
    - if can? :create, :trip
      %a#add-trips.green-button.map-add-trip-button{:href => "#{new_trip_path}"}
        %span.big-plus +
        %span.add-trip-text Add Trip
    %a#add-campgrounds.green-button.map-add-campground-button{:href => "#{new_campground_path}"}
      %span.big-plus +
      %span.add-trip-text Add Campground
    %a#add-trails.green-button{:href => "#{new_trailhead_path}"}
      %span.big-plus +
      %span.add-trip-text Add Trailhead

  / e: trails map
  #trail-list
    .trail-list-progress
      %img{:src => "/assets/legacy/progress-medium-blue.gif"}/
  / e: trails
/ e: trails
#front
  #account
    %ul.tabs
      - if user_signed_in?
        %li
          %a.active{:href => "#", :rel => "sign-up"} Mobile
      - else
        %li
          %a.active{:href => "#", :rel => "sign-up"} Sign Up
      %li
        %a{:href => "#", :rel => "twitter"} Twitter
      %li
        %a{:href => "#", :rel => "facebook"} Facebook
      / maybe use data instead of rel if ignoring IE
    .front-box
      - if user_signed_in?
        #sign-up.tab-box
          %a{:href => "http://itunes.apple.com/us/app/transit-trails-find-plan-share/id415996890?mt=8"}
            %img{:src => "/assets/legacy/app_store.jpg", :style => "padding-top:20px", :width => "320px"}/
      - else
        %form#sign-up.tab-box{:action => "#{user_registration_path}", :method => "post"}
          %p
            %label Username
            %input#id_username.text{:name => "username", :type => "text"}/
          %p
            %label Email
            %input#id_email.text{:name => "email", :type => "text"}/
          %p
            %label Password
            %input.password{:name => "password1", :type => "password"}/
          %p
            %label Confirm
            %input.password{:name => "password2", :type => "password"}/
            %input.submit{:type => "submit", :value => ""}/
          %p
            %label.alt send me the T&T email newsletter
            %input.check{:type => "checkbox"}/

      #twitter.tab-box
        %script{:src => "//widgets.twimg.com/j/2/widget.js"}
        :javascript
          new TWTR.Widget({
            version: 2,
            type: 'profile',
            rpp: 6,
            interval: 6000,
            width: 330,
            height: 278,
            theme: {
              shell: {
                background: '#F5F6FD',
                color: '#575757'
              },
              tweets: {
                background: '#ffffff',
                color: '#424242',
                links: '#468dbd'
              }
            },
            features: {
              scrollbar: false,
              loop: false,
              live: true,
              hashtags: true,
              timestamp: true,
              avatars: false,
              behavior: 'all'
            }
          }).render().setUser('transitandtrail').start();
      #facebook.tab-box
        %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Ftransitandtrails&width=336&colorscheme=light&show_faces=true&stream=false&header=false&height=250", :style => "border:none; overflow:hidden; width:336px; height:270px;"}
      / e: #facebook.tab-box
      /
        <ul id="social">
        <li>
        <a href="http://twitter.com/transitandtrail" target="_blank" class="social1">Twitter</a>
        </li>
        <li>
        <a href="http://facebook.com/transitandtrails" target="_blank" class="social2">Facebook</a>
        </li>
        <li>
        <a href="http://itunes.apple.com/us/app/transit-trails-find-plan-share/id415996890?mt=8&ign-mpt=uo%3D4" target="_blank" class="social5">iOS App</a>
        </li>
        <li>
        <a target="_blank" href="http://openspacecouncil.us1.list-manage1.com/subscribe?u=d3b34e2adeb625081e6ae8d44&id=63f0ca458a" target="_blank" class="social4">Newsletter</a>
        </li>
        </ul>
  / e: account
  #activity
    %ul.tabs
      - if @recentactivity && @recentactivity.highlighted
        %li.active
          %a.active(href="#" rel="recent")
            Recent Activity
      - else
        %li
          %a(href="#" rel="recent")
            Recent Activity
      - if @featuredtab && @featuredtab.highlighted
        %li.active
          %a#featured-tab.active(href="#" rel="featured")
            Featured
      - else
        %li
          %a#featured-tab(href="#" rel="featured")
            Featured

    .front-box
      - style = @featuredtab && @featuredtab.highlighted ? "display:none;" : ""
      .tab-box#recent(style="#{style}")
        %ul.recent
          - @latest_photos.each do |photo|
            %li
              %a{:href => "http://flickr.com/photos/transitandtrails/#{ photo.flickr_id }", :target => "_blank"}
                %img.thumbnail{:src => "#{ photo.flickr_square_url }"}/
          /
            <li><a href="#"><img src="/assets/legacy/recent.png" alt="" /></a></li>
            <li><a href="#"><img src="/assets/legacy/recent.png" alt="" /></a></li>
            <li><a href="#"><img src="/assets/legacy/recent.png" alt="" /></a></li>
            <li><a href="#"><img src="/assets/legacy/recent.png" alt="" /></a></li>
            <li><a href="#"><img src="/assets/legacy/recent.png" alt="" /></a></li>
        - if @recentactivity
          .recent-comments
            %h3 Recent News
            %blockquote
              %p
                != @recentactivity && @recentactivity.recent_news_text
            %p
              %cite
                %a{:href => "/about"} Transit & Trails Team
          / e: recent
          .new-items
            %h3 Some of Our Favorites
            %ul
              - if @recentactivity.favorites_link1
                %li{:class => "#{ @recentactivity.favorites_type1 }"}
                  %a{:href => "#{ @recentactivity.favorites_link1 }"} #{ @recentactivity.favorites_link1_text }
              - if @recentactivity.favorites_link2
                %li{:class => "#{ @recentactivity.favorites_type2 }"}
                  %a{:href => "#{ @recentactivity.favorites_link2 }"} #{ @recentactivity.favorites_link2_text }
              - if @recentactivity.favorites_link3
                %li{:class => "#{ @recentactivity.favorites_type3 }"}
                  %a{:href => "#{ @recentactivity.favorites_link3 }"} #{ @recentactivity.favorites_link3_text }
              - if @recentactivity.favorites_link4
                %li{:class => "#{ @recentactivity.favorites_type4 }"}
                  %a{:href => "#{ @recentactivity.favorites_link4 }"} #{ @recentactivity.favorites_link4_text }
              - if @recentactivity.favorites_link5
                %li{:class => "#{ @recentactivity.favorites_type5 }"}
                  %a{:href => "#{ @recentactivity.favorites_link5 }"} #{ @recentactivity.favorites_link5_text }

      - style = @featuredtab && @featuredtab.highlighted ? "display:block;" : "display:none;"
      .tab-box#featured(style="#{style}")
        #featured-content
          -if @featuredtab
            #featured-content-title
              #{ @featuredtab.header }
            - if @featuredtab.image
              %a{:href => "#{ @featuredtab.image_link }", :target => "_blank"}
                %img#featured-content-image{:src => "#{ @featuredtab.image }"}/
            #featured-content-text
              - if @featuredtab.text1
                %p
                  =h @featuredtab.text1
                %br/
              - if @featuredtab.text2
                %p
                  =h @featuredtab.text2
                %br/
              - if @featuredtab.text3
                %p
                  =h @featuredtab.text3
                %br/
              %p
                - if @featuredtab.link1
                  Here are some follow-up links:
                  %a{:href => "#{ @featuredtab.link1 }", :target => "_blank"} #{ @featuredtab.link1_text }

                - if @featuredtab.link2
                  \-
                  %a{:href => "#{ @featuredtab.link2 }", :target => "_blank"} #{ @featuredtab.link2_text }
                - if @featuredtab.link3
                  \-
                  %a{:href => "#{ @featuredtab.link3 }", :target => "_blank"} #{ @featuredtab.link3_text }
                - if @featuredtab.link4
                  \-
                  %a{:href => "#{ @featuredtab.link4 }", :target => "_blank"} #{ @featuredtab.link4_text }
                - if @featuredtab.link5
                  \-
                  %a{:href => "#{ @featuredtab.link5 }", :target => "_blank"} #{ @featuredtab.link5_text }
            / e: featured-content-text
          / e: featured-content
  %div
/ e: front-box
/ e: activity
/ e: front
%script{:src => "/assets/legacy/find.js", :type => "text/javascript"}
%script
  $(function(){
  - if @starting_lat && @starting_lng
    initialize(#{ @starting_lat },#{ @starting_lng });
  - else
    initialize();
  });

<!-- site JS -->
%script(src="/assets/legacy/plugins.js")
%script(src="/assets/legacy/script.js")

%script
  $(function(){
  $('a[rel="twitter"]').click();
  $('a[rel="sign-up"]').click();
  });
