.container
  .row
    .span8
      #findlist
    .span4#mapfilters
      .mapfilters
        .map
          #find_map
        .message
          %a#scrolltop(href="#top")
            Filters
            %i.icon-circle-arrow-up.pull-right
        .filters
          %form#filters-form
            %p.filter-header
              Near
            %p
              %input.search-query#find-location{:placeholder => "San Francisco, CA", :type => "text", :name => 'near'}
              %button.btn.btn-success.btn.btn-round.pull-right{:type => "submit", :value => "Find"}
                Find
            %hr
            %p.filter-header
              Trip Name
            %p
              %input.search-query{:placeholder => "Type a trip name...", :type => "text", :name => 'name_query'}
              %button.btn.btn-success.btn.btn-round.pull-right{:type => "submit", :value => "Find"}
                Find
            %hr
            %p.filter-header
              Duration
            %p
              - Duration.all.each do |d|
                %label.checkbox
                  %input.filter-checkbox(type="checkbox" name="duration_ids[]" value="#{d.id}")
                  = d.name
            %hr
            %p.filter-header
              Intensity
            %p
              - Intensity.all.each do |i|
                %label.checkbox
                  %input.filter-checkbox(type="checkbox" name="intensity_ids[]" value="#{i.id}")
                  = i.name
            %hr
            %p.filter-header
              Author
            %p
              - if user_signed_in?
                %label.checkbox
                  %input.filter-checkbox(type="checkbox" name="my_trips" value="true")
                  My Trips (#{current_user.username})
              %input.search-query{:placeholder => "Type a user name...", :type => "text", :name => 'user_query'}
              %button.btn.btn-success.btn-round.pull-right{:type => "submit", :value => "Find"}
                Find

            - Category.all.each do |category|
              - unless category.trip_features.empty?
                %hr
                %p.filter-header
                  = category.name
                - category.trip_features.each do |feature|
                  %label.checkbox
                    %input.filter-checkbox(type="checkbox" name="feature_ids[]" value="#{feature.id}")
                    = feature.name
