!!!
%html
  %head
    %title Transit & Trails
    = csrf_meta_tags
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "embed/responsive"
    = javascript_include_tag "application"
    = stylesheet_link_tag "legacy/plan"
    = stylesheet_link_tag "legacy/embed_plan"
    = stylesheet_link_tag "embed/plan"

    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

    = yield :head

  %body
    .embed
      - unless @hide_title
        .embed-header
          .title
            = yield :page_title
            - begin
              - referer_path = request.referer && URI(request.referer).path
              - if referer_path =~ /^\/embed\/parks/
                %span.back
                  = link_to request.referer do 
                    &laquo; Back
            - rescue

          .logo            
            %a{:href => "http://transitandtrails.org", :target => "_blank"}
              %img{:src => "/assets/legacy/plan/small-logo.png"}/

      = yield :page_content
    - unless defined?(@park) && @park.id = 12023
      = render :partial => "/layouts/tracking"