- content_for :head do
  = stylesheet_link_tag "application"
  = javascript_include_tag "application"
  = javascript_include_tag "legacy/common"
  = stylesheet_link_tag "legacy/reset"
  = stylesheet_link_tag "legacy/common"
  = stylesheet_link_tag "legacy/style"
  = stylesheet_link_tag "legacy/trailhead_detail"
  %script{:src => "/assets/legacy/jquery/js/jquery.tools.min.js", :type => "text/javascript"}

- content_for :page_title do
  Trailhead Details

- content_for :page_content do
  #page.trip-details

    #trail-details.trail-details-overlay
      != @trailhead.description

    #details-section
      #plan.alt.trailhead
        #trip-meta
          / end share widgets
          .header
            %h2 #{@trailhead.name}
            %img.type-flag{:alt => "", :src => "/assets/trailhead.png"}/
            - if @trailhead.default_park
              %em
              %a{:href => "#{park_path(@trailhead.default_park)}"} #{@trailhead.default_park.name}
          / b:details
          #trailhead-details
            - if @trailhead.description
              .description
                != truncate_html(@trailhead.description, :length=> 300,  :omission => '...<br/><a class="trail-details-modal modal" rel="#trail-details" >Read more...</a>')
              / e: entry
            - else
              %div{:style => "height:10px"}

            = render :partial => "/shared/partials/features", :locals => {:object=>@trailhead}

            .button-frame

              %a.green-button.padded-sides{:href => "/embed/plan/trailhead/#{@trailhead.id}"}
                Plan Trip to Here

            - if can?(:edit,@trailhead)
              .button-frame
                %a.green-button{:href => "#{edit_trailhead_path(@trailhead)}", :target=>"_blank"} Edit Trailhead

            - if can?(:destroy,@trailhead)
              .button-frame
                = link_to("Delete Trailhead", @trailhead, :method => :delete, :confirm => "Are you sure?", :class=>"green-button")

            = render :partial => "/shared/partials/object_maps", :locals => {:object=>@trailhead}

          = render :partial => "/shared/partials/agency", :locals => {:object=>@trailhead}

          - regional_trails = @trailhead.trailhead_features.where(:category_id=>Category.where(:name=>"Regional Trail"))
          - regional_trails.each do |feature|
            - klass = feature == regional_trails.last ? "agency last" : "agency"
            .if.endif{:class => "#{klass}"}
              .logo
                - if feature.marker_icon
                  - if feature.link_url
                    %a{:href => "#{feature.link_url}", :target => "_blank"}
                      %img{:src => "#{feature.marker_icon.url}"}/
                  - else
                    %img{:src => "#{feature.marker_icon.url}"}/
              .text
                This trail is part of the
                .name
                  - if feature.link_url
                    %a{:href => "#{feature.link_url}", :target => "_blank"}
                      #{ feature.name }
                  - else
                    #{feature.name}

          = render :partial => "/shared/partials/non_profit_partner", :locals => {:object=>@trailhead}
          / = render :partial => "/shared/partials/contributor", :locals => {:object=>@trailhead}

  :javascript
    $(function(){
      $("a.modal").overlay();
    });

