%h2.page-header About
.content
  %ul.about
    %li What parks and trails are near my home?
    %li How do I get there?
    %li Can I plan a hike (or ride or run or...) with my friends?
    %li What if I don’t have a car... can I still go outdoors?
  %p Transit and Trails connects you to parks and open spaces by helping you Find, Plan and Share your outdoor adventures. You can locate trailheads near you (or any location) and we help you get there on public transportation or get the directions you need to walk, bike, or drive there. You might try one of the many existing trips on the site or make a new one. You can then share your plans with a link for an email, an Evite or post the trip to Facebook and Twitter. After your hike, share pictures and your experience on Transit and Trails and join the community of people who care about and love exploring parks, trails and open spaces.
  %p
    Transit and Trails is a project of the
    = succeed "," do
      %a{:href => "http://openspacecouncil.org", :target => "_blank"} Open Space Council
    a nonprofit focused on providing a vision, being the collective voice, and serving as a central hub for the land conservation community in the Bay Area. Our members work tirelessly to protect land, conserve flora and fauna, maintain trails, and make open spaces accessible. Transit and Trails is an important part of our efforts to bring nature within reach of all Bay Area residents.
  %p
    Transit and Trails is available for the iPhone and Android phones. Changes in plans or weather are now no big deal – your trip and transportation information can be in your hands and available within a few clicks.
    %a{:href => "http://itunes.apple.com/us/app/transit-trails-find-plan-share/id415996890?mt=8", :target => "_blank"} Download the app for your iPhone here
    and
    = succeed "." do
      %a{:href => "https://play.google.com/store/apps/details?id=com.openspacecouncil.tnt&feature=search_result#?t=W251bGwsMSwxLDEsImNvbS5vcGVuc3BhY2Vjb3VuY2lsLnRudCJd", :target => "_blank"} your Android phone here
    %p
      Please
      %a{:href => "mailto:contact@transitandtrails.org"} contact us
      if you have any questions, ideas or suggestions. We’d love to hear from you.
  %br
%h2.page-header Team
.content
  %ul.people
    %li
      = image_tag "people/jereme.png"
      %div
        %h3
          %a{:href => "http://about.jmoe.com"}
            Jereme Monteau
        %p Versatile in “All Things Web”, Jereme has over 12 years experience building software and web applications. He has been constantly seeking ways to apply cutting edge technologies in solutions to real world problems. A keen interest in outdoor activities of all kinds and a talent for mastering new technologies as fast they are being created has culminated in the opportunity to build out a website for the community to find and share outdoor activities that are accessible via public transportation.
        %p Jereme has handled all technical aspects of building the site.
    %li
      = image_tag "people/ryan.png"
      %div
        %h3 Ryan Branciforte
        %p Ryan likes to take public transit really far away and then do silly long hikes to get back home....
        %p
          Ryan has over 12 years experience working in the conservation, environmental and resource management fields. Other than Transit &Trails, Ryan manages various regional conservation plans for the Council; including
          %a{:href => " http://www.bayarealands.org/"} The Conservation Lands Network
          (where and why should we preserve our open spaces in the Bay Area).
        %p Ryan oversees all aspects of the project and co-manages with Jereme.
    %li
      = image_tag "people/annie.png"
      %div
        %h3 Annie Burke
        %p Annie Burke, the Director of Development and Engagement for the Open Space Council provides creative direction, helps to organize events and works to spread the good word about Transit & Trails. A Bay Area native, she bikes to work, takes kids (hers and others') outside as often as possible, and has a soft spot in her heart for Redwood Regional Park.
%h2.page-header Alumni
%ul.alumni
  %li
    %div
      %h3
        Kyle Youngblom
        %em
      %p Kyle has been working in design-related fields for 7 years, and has enjoyed uniting his love of good graphic design with his love of the great outdoors.
      %p Kyle is the lead designer for Transit & Trails; he keeps himself busy tweaking visual and user experience design on the site, designing and redesigning the mobile apps, developing print materials and working with the Transit and Trails community.
  %li
    %div
      %h3 Tim Martin
      %p
        A rock star mobile app developer, Tim heads up mobile app development for Transit & Trails. Tim runs the successful mobile app company
        = succeed "." do
          %a{:href => "http://flakasoft.com"} Flakasoft
  %li
    %div
      %h3 Marty Berryman
      %p
        Marty's been building software for over a decade and is comfortable operating as any link
        in the software development chain.  This and his love of the outdoors has
        made him a key contributor to everything Transit & Trails.  When he isn't coding
        or learning a new technology he's out on the trails.
  %li
    %div
      %h3 Bettina Ring
      %p Bettina Ring, the former Executive Director of the Open Space Council, provided strategic oversight and supported fundraising efforts for Transit & Trails.
  %li
    %div
      %h3 Kees Briggs
      %p Kees Briggs is a web engineer based in San Rafael, CA. Kees has a broad range of experience developing sites for individuals and businesses, non-profit and otherwise. When not developing web applications, Kees is either bike commuting, editing his TnT bio, making music or whisking his wife and son away to the beach, the mountains, or wine country.
%br
%h2.page-header
  Resources
.col
  %h3.left Links
  %ul.links
    %li
      %a{:href => "http://www.ebparks.org/parks/maps/", :target => "_blank"} East Bay Regional Parks Maps
      %p Really great maps of all of the East Bay Parks and Trails
    %li
      %a{:href => "http://carfreeoutdoors.wordpress.com/", :target => "_blank"} Car-Free Outdoors
      %p Some wonderful car-free adventures in the region
    %li
      %a{:href => "http://www.sfcarfree.org/", :target => "_blank"} San Francisco Car Free
      %p Great resource for getting around San Francisco without a car
    %li
      %a{:href => "http://bahiker.com/", :target => "_blank"} Bay Area Hiker
      %p Amazing resource for the best hikes in the Bay Area
    %li
      %a{:href => "http://bayareahiker.blogspot.com/", :target => "_blank"} Bay Area Hiker Blog
      %p Great blog on hikes in the Bay Area, same folks that bring you Bay Area Hiker!
    %li
      %a{:href => "http://www.tommangan.net/twoheeldrive/", :target => "_blank"} Two-Heel Drive, A Hiking Blog
      %p Great blog on hikes in the Bay Area, same folks that bring you Bay Area Hiker!
    %li
      %a{:href => "http://postcarpress.tumblr.com/", :target => "_blank"} Post-Car Adventures
      %p Great Resource for Bay Area adventures with no need for a car
    %li
      %a{:href => "http://511.org/", :target => "_blank"} 511
      %p 511 is your one-stop phone and web source for up-to-the-minute transportation information. It's FREE and available whenever you need it – 24/7 – from anywhere in the nine-county Bay Area
    %li
      %a{:href => "http://www.trails.com/", :target => "_blank"} Trails.com
      %p Trail guides online
    %li
      %a{:href => "http://www.backpacker.com/", :target => "_blank"} Backpacker
      %p Great resource for finding backpacking trips and hikes
    %li
      %a{:href => "http://www.parkinfo.org/", :target => "_blank"} ParkInfo
      %p Find your public parks in California
    %li
      %a{:href => "http://www.everytrail.com/", :target => "_blank"} EveryTrail
      %p Share trips, connect with other travelers and find great new things to do
    %li
      %a{:href => "http://www.trailguru.com/", :target => "_blank"} TrailGuru
      %p For visualizing, exploring, summarizing,and sharing the outdoors
    %li
      %a{:href => "http://www.360geographics.com/360maps/", :target => "_blank"} 360Maps
      %p Weather-ready regional trail maps available for purchase
    %li
      %a{:href => "http://www.peasepress.com/", :target => "_blank"} Pease Press Cartography
      %p Beautiful and concise printed trail maps
    %li
      %a{:href => "http://baynature.org/", :target => "_blank"} Bay Nature Magazine
      %p Exploring Nature in the San Francisco Bay Area
.col
  %h3.left Print Maps
  %ul.links
    %li
      %a{:href => "http://peasepress.com", :target => "_blank"} Trails of Northeast Marin County
      %p Excellent map of the area from China Camp State Park to Mt. Burdell
    %li
      %a{:href => "http://peasepress.com", :target => "_blank"} A Walker’s Map of San Francisco
      %p A must have map of San Francisco, Angel Island and the Marin Headlands
    %li
      %a{:href => "http://www.savemountdiablo.org/lands_map.html", :target => "_blank"} Mt. Diablo, Los Vaqueros, and Surrounding Parks
      %p The best map of Mount Diablo, it extends from Mt. Diablo State Park east to Black Diamond Mines and Morgan Territory.
    %li
      %a{:href => "http://www.wildernesspress.com/product.php?productid=16654&js=n", :target => "_blank"} Point Reyes National Seashore and West Marin Parklands
      %p Map for Point Reyes and the surrounding area
    %li
      %a{:href => "http://www.tomharrisonmaps.com/", :target => "_blank"} Tom Harrison Maps
      %p A variety of high quality maps for various locations in the Bay Area
    %li
      %a{:href => "http://www.360geographics.com/", :target => "_blank"}
        360 Geographics
      %p Excellent waterproof maps of Annadel, Jack London, China Camp and Sugarloaf State Park
    %li
      %a{:href => "http://peasepress.com/", :target => "_blank"} Trails of the Coastside and Northern Peninsula
      %p Includes Montara Mountain and San Bruno Mountain.
    %li
      %a{:href => "http://ebparks.org/", :target => "_blank"} EBParks.org
      %p East Bay Regional Park District has excellent trail maps that are downloadable as PDFs.
    %li
      %a{:href => "http://www.parkhere.org/", :target => "_blank"} ParkHere.org
      %p Santa Clara County Parks has maps at its trailheads and PDF maps on its Web site or by mail.
    %li
      %a{:href => "http://www.openspace.org/", :target => "_blank"} OpenSpace.org
      %p Midpeninsula Regional Open Space District maps are available at its trailheads, by mail, and as PDFs from its Web site.
    %li
      %a{:href => "http://www.co.sanmateo.ca.us/portal/site/parks/", :target => "_blank"}
        County of San Mateo
      %p Maps for San Mateo County Parks are also available at entrance stations, by mail, and from its website.
