= semantic_form_for @user_profile do |f|
  = f.inputs do
    -if @user_profile.errors.any?
      #error_explanation
        %h2= "#{pluralize(@user_profile.errors.count, "error")} prohibited this user_profile from being saved:"
        %ul
          - @user_profile.errors.full_messages.each do |msg|
            %li= msg

    = f.input :firstname, :required => false
    = f.input :lastname, :required => false
    = f.input :url, :required => false
    = f.input :bio, :required => false
    = f.input :avatar, :required => false
    = f.input :organization_name, :required => false
    = f.input :organization_avatar, :required => false
    = f.hidden_field :user_id

  = f.actions do
    = f.action :submit, :label => "Save", :button_html => { :disable_with => "Wait" }

