%h2.page-header Sign In
.content
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    = f.input :username, :input_html => {:autofocus => true}
    = f.input :password
    - if devise_mapping.rememberable?
      = f.input :remember_me, :as => :boolean
    = f.button :submit, :class=> "btn btn-success", :value => "Sign In", :button_html => { :disable_with => "Wait" }

  = render "devise/shared/links"
