= simple_form_for @campground do |f|
  = f.input :latitude, :input_html=>{:id => 'trailhead_latitude'}, :as => :hidden
  = f.input :longitude, :input_html=>{:id => 'trailhead_longitude'}, :as => :hidden
  #trailhead-meta
    %label.text-attr-label.address{:for => "id_start_address"}
      Reposition the map by entering an address or location here:
    %input#id_start_address{:placeholder => "Address or location", :type => "text"}/
    %a#find_address.green-button.right{:href => "#"}
      Go  
    = f.input :name, :placeholder => "Simple and descriptive", :label => "Name the campground"
    %label.text-attr-label Description
    .editor
      %textarea(name="campground[description]" id="campground_description" rows="10" cols="40")
        #{@campground.description}
  / e: tour
  #plan-map-instructions Click on the map to place your campground. You can reposition your pin by dragging it or clicking in a new location. Gray pins show existing campgrounds.
  #plan-map
  .attributes
    #trailhead-features
      Attributes available at this campground:
    / = f.association :trailhead_features, :as => :check_boxes
    %ul.outer-list
      - Category.order('rank').each do |category|
        - unless category.campground_features.empty?
          %li
            %label.text-attr-label
              #{ category.name }
            %ul
              - category.campground_features.each_with_index do |attribute,index|
                - if index >= 5
                  - extra_class = "hidden"
                %li(class="#{extra_class}")
                  %label{:for => "campground[campground_features[#{attribute.id}]"}
                    - if @campground.campground_features.include? attribute
                      %input(type="checkbox" name="campground[campground_feature_ids][]"
                        id="campground_campground_feature_ids_#{attribute.id}"
                        value="#{attribute.id}"
                        checked="checked")
                    - else
                      %input(type="checkbox" name="campground[campground_feature_ids][]"
                        id="campground_campground_feature_ids_#{attribute.id}"
                        value="#{attribute.id}")
                    #{ attribute.name }
              - if category.campground_features.count >= 5
                %a.show-more{:href => "#"} + show more..

      - if current_user.admin?
        %li
          = f.input :approved
      %li
        %input.green-link-button{:type => "submit", :value => "Save Campground"}
      %li
        %input#cancel-button.dark-gray-link-button{"data-url" => "/", :type => "button", :value => "Cancel"}

      / attributes
  / e: plan
/ e: page
%script{:src => "/assets/legacy/pointmap.js", :type => "text/javascript"}
:javascript
  $(function() {
      editMode = #{  @campground.new_record? ? "TNT.EditMode.NEW;" : "TNT.EditMode.UPDATE;" }
      CKEDITOR.replace('campground_description',
              {
                  toolbar:'Basic'
              });

      $('a.show-more').toggle(function(e) {
          e.preventDefault();
          $(this).parent().find('li.hidden').show().slideDown();
          $(this).text('- show less');
      },function(e) {
          e.preventDefault();
          $(this).parent().find('li.hidden').hide().slideUp();
          $(this).text('+ show more');
      });

      initEditing(TNT.EntityType.CAMPGROUND, editMode);

      $(window).unload(function () {
          GUnload();
      });

      $('#find_address').click(function(e){
          e.preventDefault();
          findAddress(editMode);
      });

      $('#id_start_address').bind('keypress',function(e){
          var code = (e.keyCode ? e.keyCode : e.which);
          if(code == 13) { //Enter keycode
              //Do something
              e.preventDefault();
              findAddress(editMode);
          }
      });

      $('ul.outer-list ul li:odd').css({backgroundColor: '#F6F7FC'});

      $('#cancel-button').click(function(e){
          e.preventDefault();
          window.location.href = $(this).data('url');
      });
  });
