/ the point variable here is a Campground object
.trailhead-info-window
  .trailhead-info-window-title #{ @point.name }
  - if @point.default_park
    .trailhead-info-window-park
      %i
        #{ @point.default_park.name }
      - if @point.default_park.county
        \-
        %i #{ @point.default_park.county }
  - if @point.description
    %p.trailhead-info-window-description
      != truncate_html(@point.description, :limit => 200, :omission => "...")

  - if @feature_names
    %p
      %b Features
      \:
      #{ @feature_names }
      / - unless @trips.empty?
      /   %h4 Trips
      /   %ul
      /     - @trips.each do |trip|
      /       %li
      /         %a{:href => "/trips/#{ trip.id }"}
      /           #{ trip.name }
  %p
    .trailhead-info-window-buttons
      %a.trailhead-info-window-button{:href => "/campgrounds/#{ @point.id }"} More Info
      %a.trailhead-info-window-button{:href => "/plan/campground/#{ @point.id }"} Plan a Trip Here

  - if current_user && current_user.admin?
    %p
      %b Actions
      %ul
        %li
          %a{:href => "#{edit_campground_path(@point)}"} Edit
        %li
          = link_to("Delete", @point, :method => :delete, :confirm => "Are you sure?")
