- content_for :head do
  = javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyCcUhpQftpOwXVSLJqHrvwYCqnhTy3bchE&sensor=false&libraries=places"
  = javascript_include_tag "legacy/markermanager"

  = render :partial => "/shared/partials/legacy_head"

  = stylesheet_link_tag "legacy/reset"
  = stylesheet_link_tag "editors"

#page
  #page-head
    %h2
      New Campground
    %a{:href => "/"} Back to Map
  / e: page head
  #plan.alt.trailhead

    = render 'form'
