/ load Galleria
%script(src="/assets/legacy/galleria/galleria-1.2.7.min.js")
%script(src="/assets/legacy/ckeditor/ckeditor.js")
%script(src="/assets/legacy/ckeditor/adapters/jquery.js")

= javascript_include_tag "legacy/gzoom"
= javascript_include_tag "legacy/common"
= stylesheet_link_tag "legacy/reset"
= stylesheet_link_tag "legacy/common"
= stylesheet_link_tag "legacy/style"
= stylesheet_link_tag "editors"
