/ end Regional Trails
/ begin Non-profit Partner
- if object.respond_to?(:non_profit_partner) && object.non_profit_partner
  .agency.non-profit-partner
    - if !object.non_profit_partner.logo.blank?
      - if object.non_profit_partner.link
        .logo
          %a{:href => "#{object.non_profit_partner.link}", :target => "_blank"}
            %img{:src => "#{object.non_profit_partner.logo }"}/
      - else
        .logo
          %img{:src => "#{object.non_profit_partner.logo }"}/
    .text
      %span.non_profit_partner_label
        Nonprofit Partner
      .name
        - if object.non_profit_partner.link
          %a{:href => "#{object.non_profit_partner.link}", :target => "_blank"}
            #{object.non_profit_partner.name}
        - else
          #{object.non_profit_partner.name}
  / end Non-profit Partner
