- content_for :head do
  = javascript_include_tag "legacy/date"
  = javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyCcUhpQftpOwXVSLJqHrvwYCqnhTy3bchE&sensor=false&libraries=places"

  = stylesheet_link_tag "legacy/plan"
  = stylesheet_link_tag "legacy/embed_plan"
  = stylesheet_link_tag "embed/plan"

/ #ggnpc-warning
/   Many parks experience consistently heavy traffic congestion and parking problems during Saturdays and Sundays from 9am–4pm, in particular Muir Woods, Stinson Beach, the Presidio, and Crissy Field. At Muir Woods, parking can be as far away from the park entrance as a mile and a half during peak times. Please consider using public transit, visiting during off peak times or consider one of the private tour operators.

- content_for :page_title do
  Plan

- content_for :page_content do
  %input#trip_start_lat{:name => "trip_start_lat", :type => "hidden"}
  %input#trip_start_lng{:name => "trip_start_lng", :type => "hidden"}
  %input#trip_end_lat{:name => "trip_end_lat", :type => "hidden"}
  %input#trip_end_lng{:name => "trip_end_lng", :type => "hidden"}
  %input#trailhead_lat{:name => "trailhead_lat", :type => "hidden"}
  %input#trailhead_lng{:name => "trailhead_lng", :type => "hidden"}
  %input#start_from_lat{:name => "start_from_lat", :type => "hidden"}
  %input#start_from_lng{:name => "start_from_lng", :type => "hidden"}

  - if @selected_trailhead || @selected_trailheads
    - if @selected_trailheads
      - zimride_url = @selected_trailheads[0].zimride_url
    - else
      - zimride_url = @selected_trailhead.zimride_url
    %input#rideshare{:type => "hidden", :value => "true"}/
    %input#zimride_url{:type => "hidden", :value => "#{zimride_url}"}/

  #plan(class="#{@width_class}")
    %form#the-plan
      .clearfix
        - if @selected_trailheads
          %label#returning-from-label
            Going to Trailhead
          %select#trailhead-select
            - @selected_trailheads.each do |trailhead|
              %option{:value => "#{trailhead.latitude},#{trailhead.longitude}", :data=>{:zimride_url=> "#{trailhead.zimride_url}", :trailhead_id => "#{trailhead.id}" } }
                = trailhead.name
        - else
          %label#returning-from-label
            - if @selected_trip
              Going on Trip
            - elsif @selected_trailhead
              Going to Trailhead
            - elsif @selected_campground
              Going to Campground
            - else
              Going to Location
        - if not @selected_trailheads
          %h3#name-title
            - if @selected_trip
              = @selected_trip.name
            - elsif @selected_trailhead
              = @selected_trailhead.name
            - elsif @selected_campground
              = @selected_campground.name
            - elsif @destination_name
              = @destination_name
            - elsif @selected_location
              #{@latitude.to_f.round(4)}, #{@longitude.to_f.round(4)}
      .plan-type
        %ul
          %li
            %a#transit-mode.pt1.active{:href => "#"} Transit
          %li
            %a#biking-mode.pt2{:href => "#"} Biking
          %li
            %a#walking-mode.pt3{:href => "#"} Walking
          %li
            %a#driving-mode.pt4{:href => "#"} Driving
          %li
            %a#rideshare-mode.rideshare{:href => "#"} Rideshare
      / e: plan type
      #starting-point-form
        %label#starting-point-label Starting Point
        - starting_address = params[:starting_location]
        %input#start-from-address.text.address{:type => "text", :placeholder => "start typing your address", :value=>"#{starting_address}"}/
        %br
          #starting-point-latlng
      %p
        %label When
        %select#trip_dep_arr.select
          %option{:value => "dep"} Depart
          %option{:value => "arr"} Arrive

        %input#trip_date.text.date{:name => "trip_date", :type => "text", :value => ""}
        &nbsp;
        %input#trip_hour{:name => "trip_hour", :onkeyup => "numbersOnly(this,2);lessThan(this,12);", :type => "text", :value => "00"}
          \:
          %input#trip_minutes{:name => "trip_minutes", :onkeyup => "numbersOnly(this,2);lessThan(this,59);", :type => "text", :value => "00"}
            %select#trip_ampm{:name => "trip_ampm", :style => "width:50px"}
              %option#am_option{:value => "am"} AM
              %option#pm_option{:value => "pm"} PM
      %p
        %label Transit Site
        %select#transit-router.select
          %option{:value => "google"} Google
          %option{:value => "511"} 511.org
        %select#zimride-router.select{:style => "display:none;width:100px;"}
          %option{:value => "Zimride"} Zimride

        %br/
      %p{:style => "font-size:12px;font-weight:bold"} Results open in a new page.
      %ul.numbers
        %li
          %strong Driving
          %em
            %span#driving-miles -
            miles
        %li
          %strong Gas Saved
          %em
            %span#driving-gas -
            gal @ 21 mpg
        %li
          %strong Money Saved
          %em
            $
            %span#driving-money -.-
            @ $4/gal
      #carbon-cost
        Carbon savings :
        %span#driving-carbon -
        pounds
      %p
        %input#get-directions-button.get-directions.green-link-button{:type => "submit", :value => "Directions There"}/
        %input#return-trip-button.plan-return.green-link-button{:type => "submit", :value => "Directions Back"}/

      - if params[:return_to_path]
        .actions.embed-section
          %a.green-button.padded-sides{:href => "#{params[:return_to_path]}"}
            &laquo; Back

  = javascript_include_tag "embed_plan"
  = javascript_include_tag "embed"

  - if @agency_id
    :javascript
      $(function(){

        $('#ggnpc-warning').overlay();

        $("#driving-mode").click(function(){
          $('#ggnpc-warning').overlay().load();
        });
    });

  %script
    $(new function(){
    - if @selected_trailhead
      TNT.plan.initializeTrailhead(#{@selected_trailhead.id});
    - elsif @selected_trip
      TNT.plan.initializeTrip(#{@selected_trip.id});
    - elsif @selected_campground
      TNT.plan.initializeCampground(#{@selected_campground.id});
    - elsif @selected_trailheads
      TNT.plan.initializeTrailheadList();
    - else
      TNT.plan.initializePoint(#{@latitude},#{@longitude});

    - if @initial_date
      TNT.plan.initTripDate(Date.parse('#{@initial_date}'));

    - if @arrive
      $('#trip_dep_arr').val('arr');

    });
