.left
  = link_to 'Blog', "http://blog.transitandtrails.org"
  |
  = link_to 'About', static_path(:id=>:about)
  |
  = link_to 'Partners', partners_path
  |
  = link_to 'Contact', static_path(:id=>:contact)
.right
  = link_to 'Terms', static_path(:id=>:terms)
  |
  = link_to 'API', static_path(:id=>:api)
