#footer
  .container
    .row
      .span3
        %h4.footer-header
          Transit & Trails
        %ul
          %li
            = link_to "About", static_path(:about)
          %li
            = link_to "Partners", partners_path
          %li
            = link_to "Challenge", static_path(:challenge)
          %li
            = link_to "Terms", static_path(:terms)
          %li
            = link_to "API", "/api"

      .span2
        %h4.footer-header
          Community
        %ul
          %li
            = link_to "Blog", "http://blog.transitandtrails.org"
          %li
            = link_to "Twitter", "http://twitter.com/transitandtrail"
          %li
            = link_to "Facebook", "http://facebook.com/transitandtrails"
          %li
            = link_to "Flickr", "http://flickr.com/transitandtrails"

      .span3
        %h4.footer-header
          Download Our Apps
        %ul
          %li
            = link_to "iOS", "http://itunes.apple.com/us/app/transit-trails-find-plan-share/id415996890?mt=8&ign-mpt=uo%3D4"
#subfooter
  .container
    .row
      .span12
        .pull-left.text
          &copy; 2013 Transit & Trails. All rights reserved.
        .pull-right
          .pull-left.text
            Brought to you by:&nbsp;&nbsp;
          .pull-left
            %a.pull-right(href="http://openspacecouncil.org")
              .openspacecouncil-logo.image-link.pull-right

