!!!
%html
  %head
    %title Transit & Trails
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
    = javascript_include_tag "application"
    = javascript_include_tag "legacy/common"
    %link(rel="shortcut icon" type="image/x-icon" href="/media/favicon.ico")
    = csrf_meta_tags
    = yield :head
  %body
    .middle
      .main
        .main-header
          #user-nav
            = render :partial => "/layouts/user_navigation"
          %a(href="/" id="home-link")
        - if notice
          .flash#notice= notice
        - if alert
          .flash#alert= alert
        - if flash[:error]
          .flash#error= flash[:error]
        #{yield}
        .content-footer
          = render :partial => "/layouts/social_footer"
      .footer
        = render :partial => "/layouts/footer"
