!!!
%html
  %head
    %title Transit & Trails
    = javascript_include_tag "application"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
    = render :partial => '/shared/partials/legacy_head'    
    %link(rel="shortcut icon" type="image/x-icon" href="/media/favicon.ico")
    = csrf_meta_tags
    = yield :head
    = stylesheet_link_tag "legacy/embed"
  %body
    .embed
      .embed-header
        .title
          = yield :page_title
        .logo
          BY
          %a{:href => "http://transitandtrails.org", :target => "_blank"}
            %img{:src => "/assets/legacy/plan/small-logo.png"}/
            

      = yield :page_content
