!!!
%html
  %head
    %title Transit & Trails
    = csrf_meta_tags
    %link(rel="shortcut icon" type="image/x-icon" href="/media/favicon.ico")
    = javascript_include_tag "application"
    = javascript_include_tag "legacy/common"
    = javascript_include_tag "legacy/jquery/js/jquery-ui-1.7.2.custom.min"
    = javascript_include_tag "legacy/plugins"

    = stylesheet_link_tag "legacy/legacy"


    = yield :head

    = stylesheet_link_tag "legacy/embed"
    = stylesheet_link_tag "legacy/jquery/css/ui-lightness/jquery-ui-1.7.2.custom"

  %body.legacy
    .embed
      .embed-header
        .title
          = yield :page_title
        .logo
          BY
          %a{:href => "http://transitandtrails.org", :target => "_blank"}
            %img{:src => "/assets/legacy/plan/small-logo.png"}/


      = yield :page_content

    = render :partial => "/layouts/tracking"