!!!
%html
  %head
    %title Transit & Trails
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tags
    = javascript_include_tag "application"
    = javascript_include_tag "legacy/common"
    = javascript_include_tag "legacy/jquery/js/jquery-ui-1.7.2.custom.min"
    / = javascript_include_tag "legacy/plugins"

    = stylesheet_link_tag "legacy/legacy"

    = yield :head

    = stylesheet_link_tag "legacy/embed"
    = stylesheet_link_tag "legacy/jquery/css/ui-lightness/jquery-ui-1.7.2.custom"

  %body.legacy
    .embed
      - unless @hide_title
        .embed-header
          .title
            = yield :page_title
            - begin
              - referer_path = request.referer && URI(request.referer).path
              - if referer_path =~ /^\/embed\/parks/
                %span.back
                  = link_to request.referer do 
                    &laquo; Back
            - rescue
          .logo            
            %a{:href => "http://transitandtrails.org", :target => "_blank"}
              %img{:src => "/assets/legacy/plan/small-logo.png"}/


      = yield :page_content

    = render :partial => "/layouts/tracking"