!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Transit & Trails : Find, Plan and Share Outdoor Experiences"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = javascript_include_tag "application"
    = javascript_include_tag "v2"
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "find", :media => "all"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
    = javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyCcUhpQftpOwXVSLJqHrvwYCqnhTy3bchE&sensor=false&libraries=places"
    = yield :head
  %body
    .navbar.navbar-fixed-top
      .navbar-inner.navbar-main
        .container
          .navbar-logo
          .navbar-content
            .sign-in.pull-right
              - if user_signed_in?
                = link_to current_user.username, edit_user_registration_path
                |
                = link_to 'Profile', profile_path
                - if current_user.admin?
                  |
                  = link_to 'Admin', rails_admin_path
                |
                = link_to "Sign Out", destroy_user_session_path, method: :delete
              - else
                Welcome
                |
                = link_to "Sign Up", new_user_registration_path
                |
                = link_to "Sign In", new_user_session_path
            .main-nav-items
              %ul.nav
                %li
                  = link_to 'Trips', '/find/v2/trips'
                %li
                  = link_to 'Trailheads', '/find/v2/trailheads'
                %li
                  = link_to 'Campgrounds', '/find/v2/campground'
      / .navbar-inner.navbar-find
      /   .container
      /     %span.nav-what-label
      /       What are you looking for?
      /     %span.nav-what.btn-group{"data-toggle" => "buttons-radio"}
      /       %button.btn.btn-success#trip-filter-button{:type => "button", "data-toggle"=>"button"} Trips
      /       %button.btn.btn-success{:type => "button"} Trailheads
      /       %button.btn.btn-success{:type => "button"} Campgrounds
      /     %span.nav-what-label
      /       &nbsp;&nbsp;Near
      /     %input.search-query#find-location{:placeholder => "San Francisco, CA", :type => "text"}
      /     %button.btn.btn-success.btn-round{:type => "button"} Find
      /     %span.nav-mode.btn-group.pull-right{"data-toggle" => "buttons-radio"}
      /       %button.btn.btn-success#map-mode-button{:type => "button", "data-toggle"=>"button"} Map
      /       %button.btn.btn-success{:type => "button"} List
    = yield
